//---------------------------------------- BASIC STYLES -----------------------------------------------

//*****************************************************************************************************
//                                            ROOT STYLES
//*****************************************************************************************************
body
  font-family 'Lato', Arial
  margin 0
  padding 0
  color white
  font-size 16px
  background-color #169FDB

a:link
  text-decoration none

a
  color rgba(255,255,255,1)

a:hover
  color rgba(255,255,255,1)
//*****************************************************************************************************
//                                            EDIT BOOTSTRAP
//*****************************************************************************************************

.navbar .navbar-nav
  float none
  vertical-align top

.navbar .navbar-collapse
  text-align: center

.navbar-custom
    background-color #004C99
    color #ffffff
    border-radius 0

.navbar-custom .navbar-nav > li > a
    color #fff

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus
    color rgba(255,255,255,0.3)
    background-color transparent

.navbar-custom .navbar-brand
    color #eeeeee

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus
    background-color rgba(255,255,255,0.3)

.bread
  padding-top 13px
  padding-left 20px

.breadcrumb
  background-color transparent
  padding 0
  margin 0
  color white

.breadcrumb li a
  color white

.navbar-brand
  border-style solid
  border-left-style none
  border-bottom-style none
  border-top-style none


.btn-primary
  background #004c99

.btn-primary:hover
  background-color #004c99

//*****************************************************************************************************
//                                        HELPERS
//*****************************************************************************************************
.informacion
  margin-top 100px

.margin-top-50
  margin-top 50px
//*****************************************************************************************************
//                                        INICIO
//*****************************************************************************************************

#table
  color white

#table_info
  color white

#table tbody tr.odd> .sorting_1
  background-color #76B82A

#table tbody > .odd
  background-color #76B82A

#table tbody > .even
  color black
  background-color white

#tabled thead
  background-color #004c99

#table thead th
  color white

.link-tabla
  color #004c99

.link-tabla:hover
  color #000c99

.dataTables_length label, .dataTables_filter label
  color white
  font-weight normal

.dataTables_length label select,.dataTables_filter label input
  color black
  font-weight normal

.region
  border-radius 20px
  height 500px
  background-color rgba(255,255,255,0.1)
  margin 20px

.box
  border-radius 20px
  height 250px
  background-color rgba(255,255,255,0.1)
  margin 20px

.box img
  height 100%
  padding 20p


.mapa
  height 90%

.rol
  height 100%

.diplomado
  height 80%

.region img
  height 450px
  padding 20px

.region p
  font-size 22px

.region1 p
  font-size 14px
  margin-bottom 0

.region1 p:first-child
  margin-top 140px

.region1 p:last-child
  margin-bottom 10px


//*****************************************************************************************************
//                                        LOGIN STYLES
//*****************************************************************************************************
#profileImage
  width 40px
  height 40px
  overflow hidden
  border-radius 50%

#linkAvatar
  padding 5px

.profile-image
  height 40px

.nameStartup h1
  font-size 8rem
  margin-bottom 10px
  margin-top 4rem
  text-shadow 2px 2px 8px black

.nameStartup span
  display block
  font-size 1em
  text-shadow 2px 2px 8px black

.nameStartup div
  width 200px
  height 200px
  overflow hidden
  border-radius 50%
  margin 10px auto
  margin-top 20px
  border 4px solid white

.nameStartup div img
  width 195px
  height 195px
  overflow hidden
  border-radius 50%


.loginForm
  margin-top 20px

.loginForm input[type = text], input[type = password]
  margin 25px 0

.cont h3, .cont a
  display inline

.cont a
  font-size 20px



//*****************************************************************************************************
//                                        NEW BLOCK FORM
//*****************************************************************************************************
.newCategoryForm
  margin-top 2rem

.newCategoryForm label
  margin-bottom 10px

.newCategoryForm input
  display block
  margin-bottom  20px
  width 100%
  color black
  padding 0.4em
  border-radius 3px

.newCategoryForm input[type="color"]
  height 5em

.newCategoryForm ul
  margin-top -15px
  background-color peru

.newCategoryForm li
  padding 5px


.categoryPreview
  background-color red
  border-radius 10px
  height 300px
  margin-top 4rem
  width  100%

.iconPreview
  text-align center
  padding 60px 50px

.nameCategoryPreview
  font-size 2rem
  text-align center


//*****************************************************************************************************
//                                        BLOCK
//*****************************************************************************************************
.resetCol
  padding 25px

.resetCol a
  color rgba(255,255,255,1)

.resetCol a:hover
  color rgba(255,255,255,0.8)

.block
  height 200px
  border-radius 10px

.block i
  padding 35px
  text-align center
  width 100%

.block p
  font-size 16px
  padding 0 20px


//*****************************************************************************************************
//                                        PAGINE
//*****************************************************************************************************

.pagine
  margin 1em

.pagine div,.pagine p
  display inline

//*****************************************************************************************************
//                                            DELETE
//*****************************************************************************************************

td.details-control
  background url('/static/imagenes/details_open.png') no-repeat center center
  cursor pointer

tr.shown td.details-control
    background: url('/static/imagenes/details_close.png') no-repeat center center

//*****************************************************************************************************
//                                            TABLE
//*****************************************************************************************************
.ezdz-dropzone
  width 100%
  min-width 200px
  height 70px
  font normal 16px 'Lato'
  border 5px dotted #004C99
  color #004C99

.vertical-center-td
  margin 18px 0

.ezdz-dropzone div
  margin-top 5px

.ezdz-dropzone span
  padding 20px
  background #76B82A

.table-bordered > tbody > tr > th
  background #004c99
  color white
  font-weight normal

#progressBar
  width 100%
  background-color #df4113

#table thead tr th
  background #004c99
  font-weight normal

#table tfoot tr th
  background #DF4113

#table tfoot tr th input
  color black
  font-weight normal


