extends base
block titulo
    | Gestores
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../") {{REGION}}
    li
        a(href="../../../") Andes
    li
        a(href="../../") Acceso
    li
        a(href="../") {{TIPO}}
    li(class="active") Calificación Total
block body_content
    div(class="container-fluid")
        input(type="hidden",name="id_region",value="{{ID_REGION}}",id="id_region")
        input(type="hidden",name="id_gestor",value="{{ID_GESTOR}}",id="id_gestor")
        input(type="hidden",name="id_municipio",value="{{ID_MUNICIPIO}}",id="id_municipio")
        table(id="table",class="table table-striped table-bordered")
            thead
                tr
                    th
                    th Numero
                    th Municipio
                    th Departamento
            tbody
                tr
                    th
                    th Numero
                    th Municipio
                    th Departamento
block extra_script
    script(src="{% static 'js/listado_total_radicados_calificacion.js' %}")