extends base
block titulo
    | Gestores
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../") {{REGION}}
    li
        a(href="../../../") Andes
    li
        a(href="../../") Acceso
    li
        a(href="../") {{TIPO}}
    li(class="active") Calificación
block body_content
    div(class="container-fluid")
        input(type="hidden",name="id_region",value="{{ID_REGION}}",id="id_region")
        input(type="hidden",name="id_tipo_gestor",value="{{ID_TIPO_GESTOR}}",id="id_tipo_gestor")
        table(id="table",class="table table-striped table-bordered")
            thead
                tr
                    th
                    th Nombre
                    th Cedula
                    th Celular
                    th Correo
            tbody
                tr
                    th
                    th Nombre
                    th Cedula
                    th Celular
                    th Correo
block extra_script
    script(src="{% static 'js/listado_gestores_apoyo_calificacion.js' %}")