extends base
block titulo
    | Andes

block filters
    | {% load guardian_tags %}

block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../") {{REGION}}
    li(class="active") Andes

block body_content
    | {% get_obj_perms request.user for object_list as "permisos" %}
    div(class="container-fluid")
        div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-top-50")
            | {% if "acceso" in permisos %}
            a(href="acceso/",class="text-center")
                div(class="box")
                    div(class="row")
                        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                            img(src="{% static 'imagenes/acceso.png' %}",class="center-block img-responsive hvr-pop")
                    div(class="row text-center")
                        p Acceso
            | {% else %}
            div(class="box")
                div(class="row")
                    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
                        img(src="{% static 'imagenes/acceso-gris.png' %}",class="center-block img-responsive")
                div(class="row text-center")
                    p Acceso

            | {% endif %}

        div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-top-50")
            | {% if "formacion" in permisos %}
            a(href="formacion/",class="text-center")
                div(class="box")
                    div(class="row")
                        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                            img(src="{% static 'imagenes/formacion.png' %}",class="center-block img-responsive hvr-pop")
                    div(class="row text-center")
                        p Formación
            | {% else %}
            div(class="box")
                div(class="row")
                    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                        img(src="{% static 'imagenes/formacion-gris.png' %}",class="img-responsive center-block")
                div(class="row text-center")
                        p Formación
            | {% endif %}

        div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-top-50")
            | {% if "administrativo" in permisos %}
            a(href="administrativo/",class="text-center")
                div(class="box")
                    div(class="row")
                        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                            img(src="{% static 'imagenes/administrativo.png' %}",class="center-block img-responsive hvr-pop")
                    div(class="row text-center")
                        p Administrativo
            | {% else %}
            div(class="box")
                div(class="row")
                    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                        img(src="{% static 'imagenes/administrativo-gris.png' %}",class="img-responsive center-block")
                div(class="row text-center")
                        p Administrativo
            | {% endif %}

        div(class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-top-50")
            | {% if "financiero" in permisos %}
            a(href="financiero/",class="text-center")
                div(class="box")
                    div(class="row")
                        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                            img(src="{% static 'imagenes/financiero.png' %}",class="center-block img-responsive hvr-pop")
                    div(class="row text-center")
                        p Financiero
            | {% else %}
            div(class="box")
                div(class="row")
                    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                        img(src="{% static 'imagenes/financiero-gris.png' %}",class="img-responsive center-block")
                div(class="row text-center")
                        p Financiero
            | {% endif %}