extends base
block titulo
    | Formadores
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../") {{REGION}}
    li
        a(href="../../../") Andes
    li
        a(href="../../") Administrativo
    li
        a(href="../") CPE
    li(class="active") Auxiliares
block body_content
    div(class="container-fluid")
        input(type="hidden",name="id_region",value="{{ID_REGION}}",id="id_region")
        table(id="table",class="table table-striped table-bordered")
            thead
                tr
                    th
                    th Usuario
                    th Nombre
                    th Apellido
                    th Carga Dia Docentes
                    th Carga Dia Padres
            tbody
                tr
                    th
                    th Usuario
                    th Nombre
                    th Apellido
                    th Carga Dia Docentes
                    th Carga Dia Padres
block extra_script
    script(src="{% static 'js/auxiliares.js' %}")