
{% load staticfiles %}
{% load progress_bar %}<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <title>Categorias</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/r/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3/datatables.min.css">
    <link rel="stylesheet" href="{% static 'css/hover.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.ezdz.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>{% if user.is_authenticated %}
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#idNavbar" aria-expanded="false" class="navbar-toggle collapsed"><span class="fa fa-bars fa-lg"></span></button>
        </div>
        <div id="idNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="/categoria/">Categorias</a></li>
                <li class="active">{{categoryName}}</li>
              </ol>
            </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" id="linkAvatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle capitalize"><img id="profileImage" src="{% static 'imagenes/user-unknown.png' %}" class="profile-image img-circle"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/cerrar">Cerrar sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>{% endif %}
    <form action="" method="POST">
      {% csrf_token %}
      {{form.as_p}}
    </form>
    <div style="margin-top:50px;"></div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/r/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3/datatables.min.js"></script>
    <script src="{% static 'js/bootstrap-lightbox.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-img-lightbox-tooltip.js' %}"></script>
    <script src="{% static 'js/jquery.ezdz.js' %}"></script>{% progress_bar_media %}
    <script>
      if(localStorage.getItem("user") != null){
      $("#profileImage").attr('src',localStorage.getItem("user"));}
    </script>
  </body>
</html>