extends base
block titulo
    | Categorias
block itemsNavbarBreadcrumb
    li
        a(href="/") Inicio
    li
        a(href="/categoria/") Categorias
    li(class="active") {{categoryName}}

block body_content
    div(class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-sm-offset-4 col-lg-4 col-lg-offset-4 instruction")
        form(action="",method="POST")|{% csrf_token %}
            h1 Estas seguro de eliminar {{ object }} ?
            button(type="submit",class="btn btn-danger btn-block") Aceptar
