extends base
block titulo
    | Nuevo Grupo
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../") {{REGION}}
    li
        a(href="../../../") Andes
    li
        a(href="../../") Acceso
    li
        a(href="../") Carga Masiva
    li(class="active") Nuevo
block body_content
    div(class="container-fluid")
        form(action="",method="post",enctype="multipart/form-data")
            table(class="table table-bordered text-center",style="color:black;background:white;")
                input(id="id_region",name="region", value="{{ID_REGION}}",hidden)
                input(id="id_usuario",name="usuario", value="{{user.id}}",hidden)
                tr
                    th(class="text-center") Campo:
                    th(class="text-center") Información:
                tr
                    td(class = "text-center" style="font-weight:bold;") Archivo Excel:
                    td(class = "text-center")
                        | {{form.excel}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Archivo Zip:
                    td(class = "text-center")
                        | {{form.archivo}}
            | {% csrf_token %}
            div(class="container-fluid barra")
                div(class="col-lg-2")
                    button(type="submit",class="btn btn-default") Grabar
                div(class="col-lg-2")
                    p(id="porcentaje",class="text-right")
                div(class="col-lg-8")
                    | {% progress_bar %}
block extra_script
    script(src="{% static 'js/drop.js' %}")