extends base
block titulo
   |Inicio


block itemsNavbarBreadcrumb

    li(class="active") Inicio

block body_content
    div(class="container-fluid")
        |{% for object in object_list %}
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6")
            a(href="{{object.id}}/",class="text-center")
                div(class="region")
                    div(class="row mapa")
                        img(src="/media/{{object.imagen}}",class="center-block img-responsive hvr-pop",id="r{{object.id}}")
                    div(class="row text-center")
                        p {{object.nombre}}
        |{% endfor %}

block extra_script
    script
        |$(document).ready(function() {
        |$('#r1').img_lightbox_tooltip({tooltip_show:"hover" ,placement: "right", title: "Amazonas, Arauca, Caquetá, Casanare, Guainía, Guaviare, Huila, Meta, Putumayo, Tolima, Vaupés, Vichada"});
        |$('#r2').img_lightbox_tooltip({tooltip_show:"hover" ,placement: "left", title: "Bogotá D.C., Boyacá, Cundinamarca, Norte de Santander, Santander"});
        |});