extends base
block titulo
    | Diplomados


block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../../../") {{REGION}}
    li
        a(href="../../../../../") CPE
    li
        a(href="../../../../") Formación
    li
        a(href="../../../") Etic@
    li
        a(href="../") {{DIPLOMADO}}
    li(class="active") Participantes

block body_content
    input(type="hidden",name="id_diplomado",value="{{DIPLOMADO_ID}}",id="id_diplomado")
    div(class="container-fluid")
        table(id="table",class="table table-striped table-bordered")
            thead
                tr
                    th
                    th Radicado
                    th Cedula
                    th Nombres
                    th Apellidos
            tbody
                tr
                    th
                    th Radicado
                    th Cedula
                    th Nombres
                    th Apellidos


block extra_script
    script(src="{% static 'js/listado.js' %}")