extends base
block titulo
    | Nuevo Formador
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../../../") {{REGION}}
    li
        a(href="../../../../../") Andes
    li
        a(href="../../../../") Financiero
    li
        a(href="../../../") Gestión Documental
    li
        a(href="../../") Liquidaciones
    li
        a(href="../") Gestores
    li(class="active") Nuevo
block body_content
    div(class="container-fluid")
        form(action="",method="post",enctype="multipart/form-data")
            table(class="table table-bordered text-center",style="color:black;background:white;")
                tr
                    th(class="text-center") Campo:
                    th(class="text-center") Información:
                tr
                    td(class = "text-center" style="font-weight:bold;") Gestor:
                    td(class = "text-center")
                        |{{form.gestor}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Fecha Terminación de Contrato:
                    td(class = "text-center")
                        |{{form.fecha_terminacion}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Contrato:
                    td(class = "text-center")
                        |{{form.contrato}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Valor Inicial del Contrato:
                    td(class = "text-center")
                        |{{form.valor_inicial}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Valor Ejecutado del Contrato:
                    td(class = "text-center")
                        |{{form.valor_ejecutado}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Valor Pagado del Contrato:
                    td(class = "text-center")
                        |{{form.valor_pagado}}

            | {% csrf_token %}
            div(class="container-fluid barra")
                div(class="col-lg-2")
                    button(type="submit",class="btn btn-default") Grabar
                div(class="col-lg-2")
                    p(id="porcentaje",class="text-right")
                div(class="col-lg-8")
                    | {% progress_bar %}
block extra_script
    script(src="{% static 'js/drop.js' %}")