extends base
block titulo
    | Nuevo Formador
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../") {{REGION}}
    li
        a(href="../../../") Andes
    li
        a(href="../../") Financiero
    li
        a(href="../") Formadores
    li(class="active") Nuevo
block body_content
    div(class="container-fluid")
        form(action="",method="post",enctype="multipart/form-data")
            table(class="table table-bordered text-center",style="color:black;background:white;")
                input(id="id_region",name="region", value="{{ID_REGION}}",hidden)
                tr
                    th(class="text-center") Campo:
                    th(class="text-center") Información:
                tr
                    td(class = "text-center" style="font-weight:bold;") Nombre:
                    td(class = "text-center")
                        input(style="width:100%;",id="id_nombre",name="nombre",type="text",maxlength="100",required)
                tr
                    td(class = "text-center" style="font-weight:bold;") Cedula:
                    td(class = "text-center")
                        input(style="width:100%;",id="id_cedula",name="cedula",type="number",required)
                tr
                    td(class = "text-center" style="font-weight:bold;") Celular:
                    td(class = "text-center")
                        input(style="width:100%;",id="id_celular",name="celular",type="text",maxlength="100",required)
                tr
                    td(class = "text-center" style="font-weight:bold;") Correo:
                    td(class = "text-center")
                        input(style="width:100%;",id="id_correo",name="correo",type="email",maxlength="254",required)
                tr
                    td(class = "text-center" style="font-weight:bold;") Fecha contratación:
                    td(class = "text-center")
                        input(style="width:100%;",id="id_fecha_contratacion",name="fecha_contratacion",type="text",required)
            | {% csrf_token %}
            div(class="container-fluid barra")
                div(class="col-lg-2")
                    button(type="submit",class="btn btn-default") Grabar
                div(class="col-lg-2")
                    p(id="porcentaje",class="text-right")
                div(class="col-lg-8")
                    | {% progress_bar %}
block extra_script
    script(src="{% static 'js/drop.js' %}")