extends base
block titulo
    | Tipo de Formador
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../") {{REGION}}
    li
        a(href="../../") Andes
    li
        a(href="../") Financiero
    li(class="active") Gestores
block body_content
    div(class="container-fluid")
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-50")
            a(href="territoriales/",class="text-center")
                div(class="box")
                    div(class="row")
                        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                            img(src="{% static 'imagenes/acceso.png' %}",class="center-block img-responsive hvr-pop")
                    div(class="row text-center")
                        p Gestores Territoriales
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-50")
            a(href="apoyo/",class="text-center")
                div(class="box")
                    div(class="row")
                        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rol")
                            img(src="{% static 'imagenes/acceso.png' %}",class="center-block img-responsive hvr-pop")
                    div(class="row text-center")
                        p Gestores de Apoyo
    div(class="container-fluid margin-top-50")