extends base
block titulo
    | Listado Inscritos
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../../../") {{REGION}}
    li
        a(href="../../../../../") Andes
    li
        a(href="../../../../") Formación
    li
        a(href="../../../") Formadores Tipo 2
    li
        a(href="../../") {{NOMBRE_FORMADOR}}
    li(class="active") Inscritos: {{NOMBRE_GRUPO}}
block body_content
    div(class="container-fluid")
        input(type="hidden",name="id_region",value="{{ID_REGION}}",id="id_region")
        input(type="hidden",name="id_formador",value="{{ID_FORMADOR}}",id="id_formador")
        input(type="hidden",name="id_grupo",value="{{ID_GRUPO}}",id="id_grupo")
        table(id="table",class="table table-striped table-bordered")
            thead
                tr
                    th
                    th Documento de Identidad
                    th Nombres
                    th Apellidos
            tbody
                tr
                    th
                    th Documento de Identidad
                    th Nombres
                    th Apellidos
block extra_script
    script(src="{% static 'js/tipo2_formador_listado.js' %}")