extends base
block titulo
    | Formadores Tipo 1
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../../../../../") {{REGION}}
    li
        a(href="../../../../../../../") Andes
    li
        a(href="../../../../../../") Formaci贸n
    li
        a(href="../../../../../") Formadores Tipo 1
    li
        a(href="../../../../") {{NOMBRE_FORMADOR}}
    li
        a(href="../../") {{TIPO_ACTIVIDAD}}
    li
        a(href="../") Nivel {{NIVEL}}
    li(class="active") Sesi贸n
block body_content
    div(class="container-fluid")
        input(type="hidden",name="id_region",value="{{ID_REGION}}",id="id_region")
        input(type="hidden",name="id_formador",value="{{ID_FORMADOR}}",id="id_formador")
        table(id="table",class="table table-striped table-bordered")
            thead
                tr
                    th Sesi贸n
                    th Cantidad de asignaciones
            tbody
                |{% for sesion in SESIONES %}
                tr(role="row",class="{% cycle 'odd' 'even' %}")
                    td
                        a(href="{{sesion.id}}/",style="color:#004c99;") Sesi贸n {{sesion.id}}
                    td {{sesion.cantidad}}
                |{% endfor %}