extends base
block titulo
    | Actualizar Informaci贸n
block itemsNavbarBreadcrumb
    li
        a(href="/region/") Inicio
    li
        a(href="../../../../../../") {{REGION}}
    li
        a(href="../../../../../") Andes
    li
        a(href="../../../../") Administrativo
    li
        a(href="../../../") Formadores
    li(class="active") Informacion: {{nombre}}
block body_content
    div(class="container-fluid")
        form(action="",method="post",enctype="multipart/form-data")
            table(class="table table-bordered text-center",style="color:black;background:white;")
                tr
                    th(class="text-center") Campo:
                    th(class="text-center") Informacion:
                tr
                    td(class = "text-center" style="font-weight:bold;") Nombre:
                    td(class = "text-center") {{form.nombre}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Cedula:
                    td(class = "text-center") {{form.cedula}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Celular:
                    td(class = "text-center") {{form.celular}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Correo:
                    td(class = "text-center") {{form.correo}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Fecha de Contrataci贸n:
                    td(class = "text-center") {{form.fecha_contratacion}}
                tr
                    td(class = "text-center" style="font-weight:bold;") Fecha de Renuncia:
                    td(class = "text-center") {{form.fecha_contratacion}}
                tr
                    td(class = "text-center") Cargo:
                    td(class = "text-center") {{form.cargo}}
                tr
                    td(class = "text-center") Profesi贸n:
                    td(class = "text-center") {{form.profesion}}
                tr
                    td(class = "text-center") Banco:
                    td(class = "text-center") {{form.banco}}
                tr
                    td(class = "text-center") Tipo de Cuenta:
                    td(class = "text-center") {{form.tipo_cuenta}}
                tr
                    td(class = "text-center") Numero de Cuenta:
                    td(class = "text-center") {{form.numero_cuenta}}
                tr
                    td(class = "text-center") EPS:
                    td(class = "text-center") {{form.eps}}
                tr
                    td(class = "text-center") Pensi贸n:
                    td(class = "text-center") {{form.pension}}
                tr
                    td(class = "text-center") Arl:
                    td(class = "text-center") {{form.arl}}

            | {% csrf_token %}
            div(class="container-fluid barra")
                div(class="col-lg-2")
                    button(type="submit",class="btn btn-default") Grabar
                div(class="col-lg-2")
                    p(id="porcentaje",class="text-right")
                div(class="col-lg-8")
                    | {% progress_bar %}
block extra_script
    script(src="{% static 'js/drop.js' %}")